<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860523175980-kno5ikqekh0ivfpe1140q9r8pdnkc6d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860523175980-kno5ikqekh0ivfpe1140q9r8pdnkc6d5</string>
	<key>API_KEY</key>
	<string>AIzaSyCY9o08HZrmHfkLNamgjR2niDudd8wppyk</string>
	<key>GCM_SENDER_ID</key>
	<string>860523175980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.absensi</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-1a429</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-1a429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860523175980:ios:4e90355eebb61c7cbff189</string>
</dict>
</plist>